nav.navbar
{
    display: flex;
}
nav.navbar ul
{
    list-style: none;
    text-align: right;
    display: flex; 
    gap: 16px;
    align-items: center; 
    position: absolute; 
    top: 0;
    right: 20px; 
}
body
{
    background-color: #B5CCAD;

}
img.logo
{
    width: 50px;
}
